@import url(./buttonAction.css);

/* 버튼 */
.btncontainer {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.or-divider{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.or-divider .line{
    flex: 1;
    border: none;
    border-top: 1px solid #ebebeb;
}
.btn-api {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    width: 300px;
    height: 40px;
    margin-top: 15px;
}

.btn-api img {
    height: 20px;
}

.btn-signin {
    font-family: 'Chirp Heavy';
    font-size: 15px;
    color: white;
    background-color: rgb(15, 20, 25);
    border-radius: 20px;
    padding: 8px 16px;
    width: 300px;
    height: 40px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-api svg{
    width: 20px;
}