@import url(./CSS/button/buttonLayout.css);

@font-face {
    font-family: 'Chirp Heavy';
    src: url("./Chirp\ Bold.ttf");
}

h1 {
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*태블릿*/
@media (max-width: 1024px) {
    html, body{
        overflow-y: scroll;
    }
    .svgclass {
        width: 50px;
    }

    .maincontainer {
        padding-left: 60px;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .h1c {
        display: inline;
    }

    .mainFont {
        margin-top: 50px;
    }
}

/*데스크탑*/
@media (min-width:1025px) {
    .section1 {
        /*로고 중앙정렬*/
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: auto;
    }

    /*버튼UI/UX*/
    .section2{
        padding-left: 100px;
        width: 45%;
        height: auto;
    }

    .svgclass {
        width: 20vw;
    }

    .maincontainer {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92vh;
        width: 100vw;
    }

    .mainFont {
        padding-left: 20px;
    }

    .h1c {
        display: flex;
        gap: 10px;
    }
}


.alreadyfont{
    font-family: 'Chirp Heavy';
}
.policyfont{
    font-size: 10px;
    margin-top: 15px;
}

.mainFont {
    font-family: 'Chirp Heavy';
    font-size: 30px;
    color: rgb(15, 20, 25);
}

p {
    margin-top: 40px;
    padding: 0;
}

.footer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 11px;
    white-space: nowrap;
    color: #5c5c5c;
}
.footer a{
    color: #5c5c5c;
    text-decoration-line: none;
}
.footer a:hover{
    text-decoration-line: underline;
}

.footerline{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Create account 버튼 아래 구문 */
.policyfont a{
    text-decoration-line: none;
    color: rgb(110, 110, 255);
}
.policyfont a:hover{
    text-decoration: underline;
}